.file_upload {
	.upload_button {
		border: 1px solid #ddd;
		padding: 5px;
		display: inline-block;
		border-radius: 4px;
		cursor: pointer;
	}
	padding: 30px;
	text-align: center;
	border: 2px dashed #0087f7;
	cursor: pointer;
	&.dragover{
		border-color: #d00;
	}
	.tip {
		color: #ddd;
		cursor: pointer;
	}
}